<%= form_with model: genre, class: "mx-auto w-[500px]" do |form| %>
  <div class="mb-4 flex flex-col font-bold">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name %>
    <span class="mt-2 text-xs text-red-400"><%= genre.errors[:name].join(", ") %></span>
  </div>

  <div class="mb-4 flex justify-end gap-2 font-medium">
    <div class="mb-4 flex justify-end gap-2 font-medium">
    <%= link_to "Voltar a lista de gêneros", genres_path, class: "p-2 text-tertiary bg-secondary hover:bg-opacity-90 transition-all ease-in-out duration-300 rounded-lg" %>
    <%= form.submit "Salvar", class: "p-2 text-secondary bg-primary-500 hover:bg-primary-600 transition-all ease-in-out duration-300 rounded-lg" %>
  </div>
  </div>
<% end %>
