<div class="mx-auto max-w-[1280px] flex flex-col border-2 border-neutral-700 rounded-lg">
  <div class="p-6 h-[90px] flex items-center justify-between border-b-2 border-neutral-700">
    <h1 class="m-0 text-xl font-bold text-left">Lista Gêneros</h1>

    <%= form_with scope: :genre, class: "flex items-center justify-end gap-2" do |form| %>
      <% if flash[:error] %>
        <span class="p-4 text-xs font-bold bg-red-500 bg-opacity-50 rounded-lg"><%= flash[:error] %></span>
      <% end %>
      <%= form.text_field :name, placeholder: "Adicione um novo gênero" %>

      <%= form.submit "Adicionar", class: "p-2 text-secondary bg-primary-500 hover:bg-primary-600 transition-all ease-in-out duration-300 rounded-lg" %>
    <% end %>
  </div>

  <% @genres.each do |genre| %>
    <% movies_count = genre.movies.size %>

    <%= link_to "#{genre.name} (#{movies_count} #{"filme".pluralize(movies_count)})", genre_path(genre), class: "p-8 w-full hover:bg-neutral-700 hover:bg-opacity-30"%>
  <% end %>
</div>
