<div class="mx-auto max-w-[1280px] flex flex-col border-2 border-neutral-700 rounded-lg">
  <div class="p-6 h-[90px] flex items-center justify-between border-b-2 border-neutral-700">
    <h1 class="m-0 text-xl font-bold text-left"><%= @director.name %></h1>

    <div class="w-[142px] flex gap-2">
      <%= link_to edit_director_path(@director), class: "w-full h-10 flex items-center justify-center bg-primary-500 hover:bg-primary-600 rounded-lg transition-all ease-in-out duration-300" do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
      <%= link_to director_path(@director), data: { turbo_method: :delete, turbo_confirm: 'Deseja deletar este diretor?' }, class: "w-full h-10 flex items-center justify-center bg-danger-500 hover:bg-danger-600 rounded-lg transition-all ease-in-out duration-300" do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  </div>

  <div class="p-6 flex items-center bg-neutral-700 bg-opacity-30">
    <span class="w-[30%] font-bold">Nacionalidade</span>
    <span class="w-full"><%= @director.nationality %></span>
  </div>
  <div class="p-6 flex items-center">
    <span class="w-[30%] font-bold">Data de nascimento</span>
    <span class="w-full"><%= @director.birthday.strftime("%B %e, %Y") %></span>
  </div>
  <div class="p-6 flex items-center bg-neutral-700 bg-opacity-30">
    <span class="w-[30%] font-bold">Gênero favorito</span>
    <span class="w-full"><%= @director.genre.name %></span>
  </div>
  <div class="p-6 flex items-start">
    <span class="my-2 w-[30%] font-bold">Filmes dirigidos</span>
    <div class="flex flex-col w-full">
      <% @director.movies.each do |movie| %>
        <%= link_to movie.title, movie_path(movie), class: "my-2 underline underline-offset-4 hover:text-link-hover-color" %>
      <% end %>
    </div>
  </div>
</div>
